#btn-rename, #btn-delete {
    display: none;
}

#list-of-files-and-directories li {
    text-align: center;
    min-width: 200px;
    margin: 2px;
    padding-bottom: 1rem;
}

#list-of-files-and-directories li .name {
    word-break: break-word;
    margin: 0 auto;
}

div #rename-item {
    border:none;
    background: #d6e8fa;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #343a40;
    resize: none;
    overflow: hidden;
}

#list-of-files-and-directories li .bi {
    font-size: 4rem;
    opacity: 0.6;
    color: #999;
}

/* #list-of-files-and-directories li .file-ppt {
    color: #d4512c;
}

#list-of-files-and-directories li .file-doc {
    color: rgb(64 157 226);
}

#list-of-files-and-directories li .file-pdf {
    color: #f21f15;
}

#list-of-files-and-directories li .file-zip {
    color: #ea9700;
}

#list-of-files-and-directories li .file-music {
    color: rgb(27 177 171);
}

#list-of-files-and-directories li .file-video {
    color: #b169c3;
}

#list-of-files-and-directories li .file-image {
    color: rgb(43 175 62);
} */


